{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSortSpecifiers": true
}
